body{

    .product{
        
        .product__name{
            color: rgba(84, 61, 84, 0.897);
        }

        .product__description, .product__price{
            color: rgb(137, 97, 37);
        }
    }

    .product--favorite{
        border: solid 1px blue;

        width: max-content;

        &::after{
            content: " ⭐";
        }
    }
}