footer{
    border: solid 1px red;

    position: fixed;
    bottom: 5px;

    left: 0;
    right: 0;
    width: 95%;
    margin: auto;

    #footer{
        display: flex;
        justify-content: center;
    }
}