.oneBook {

    display: flex;
    flex-direction: column;

    width: 300px;

    .bookHeading {
        color: rgba(57, 39, 39, 0.77);
        font-size: 25px;
    }

    .bookImage{
        height: 350px;
    }

    button{
        margin: auto;
    }
}