body{

    .kcal-medium{
        border: solid 2px yellow;

        td{
            border: solid 1px black;
        }
    }

    .kcal-high{
        border: solid 2px red;

        td{
            border: solid 1px black;
        }
    }

    .kcal-medium, .kcal-high{
        margin-bottom: 20px;
    }

}