body{

    .nutritionTable{
        border: solid 1px black;

        margin-bottom: 10px;

    }

    .kcal-medium{
        border: solid 2px yellow;
    }

    .kcal-high{
        border: solid 2px red;
    }

}