body{
    background-color: #01152677;
    
    .appComponent{
        height: 100vh;
        height: 100svh;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}